*{
    text-align: center; 
}

h1{
    margin-bottom:80px;
}

.buttons{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:50px;
    margin-bottom:80px;
}

#rock, #paper, #scissors{
    width:100px;
    height:100px;
    font-size:18px;
    border:solid;
}

#rock{
    background-color: rgb(141, 141, 141);
}

#paper{
    background-color: white;
}

#scissors{
    background-color:rgb(255, 32, 32);
}

#rock:hover, #paper:hover, #scissors:hover, .playAgain:hover{
    font-weight:bold;
    border-width:5px;
}

#rock:active, #paper:active, #scissors:active{
    width:90px;
    height:90px;
    margin:0px 5px 0px 5px;
    font-size:16px;
}

.computer{
    margin-bottom:40px;
}

.subTable, #youScore, #comScore{
    border:solid 3px;
}

th{
    padding-left:20px;
    padding-right:20px;
}

.table{
    display:flex;
    justify-content:center;
    margin-bottom:30px;
}

#youPlusOne, #comPlusOne{
    color:rgba(0, 0, 0, 0);
    font-size: 20px;
}

.plusOneAnimation{
    animation-name: plusOne;
    animation-duration: 1s;
}

@keyframes plusOne {
    0%{color:rgba(0, 0, 0, 1);}
    100%{color:rgba(0, 0, 0, 0);}
}

.comSelec{
    font-size:20px;
    font-weight:bolder;
}

.winner{
    font-size:30px;
    font-weight:bolder;
    margin-bottom:20px;
}

.playAgain{
    width:150px;
    height:50px;
    border:solid;
    border-width:3px;
    font-size:16px;
}